﻿<div class="row">

    <button type="button" class="btn btn-lg btn-primary" onclick="javascript: addTarefa();">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>

    <!-- Modal -->
    <div class="modal fade" id="modalTarefa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Adicionar uma nova tarefa</h4>
                </div>
                <div class="modal-body">
                    <form id="frmAddTarefa">
                        <input type="hidden" id="Id" />
                        <input type="hidden" id="Concluida" />
                        <div class="form-group">
                            <label for="Nome">Nome</label>
                            <input type="text" style="max-width:100% !important" maxlength="50" class="form-control" id="Nome" placeholder="Nome da tarefa">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" id="btnAdd">Salvar</button>
                    <button type="button" class="btn btn-primary" id="btnEdit">Salvar</button>
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />

    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th style="width: 70%">Nome</th>
                <th>Concluído</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="table-body">
        </tbody>
    </table>

</div>

<script>

    function addTarefa() {
        $('#Id').val('');
        $('#Concluida').val('');
        $('#Nome').val('');

        $('#modalTarefa').modal('show');

        $("#btnEdit").css('display', 'none');
        $("#btnAdd").css('display', '');
    }

    function editTarefa(id) {
        $('#Id').val('1');
        $('#Concluida').val('false');
        $('#Nome').val('Tarefa 1');

        $('#modalTarefa').modal('show');

        $("#btnAdd").css('display', 'none');
        $("#btnEdit").css('display', '');
    }

    function deleteTarefa(id) {
        console.log(id);
    }

    function loadTarefas(data) {
        var tbody = $("#table-body");

        $.each(data, function (index, value) {
            var tr = document.createElement('tr');

            $(tr).append("<th scope='row'>" + data[index].id + "</th>");
            $(tr).append("<td>" + data[index].nome +"</td>");

            if (data[index].concluida) {
                $(tr).append('<td><input type="checkbox" checked /></td>');
            } else {
                $(tr).append('<td><input type="checkbox" /></td>');
            }

            $(tr).append("<td><button type='button' class='btn btn-default btn-sm' onclick='javascript: editTarefa(" + data[index].id + ");'>" +
                "<span class='glyphicon glyphicon-pencil' aria- hidden='true' ></span ></button > " +
                "<button type='button' class='btn btn-default btn-sm' onclick='javascript: deleteTarefa(" + data[index].id + ")'><span class='glyphicon glyphicon-trash' aria-hidden='true'></span></button>" +
                "</td>");

            $(tbody).append(tr);
        });
    };

    function getTarefas() {
        $.get("http://localhost:57162/api/Task", function (data) {
            loadTarefas(data);
        })
        .fail(function (e) {
            alert(e);
        });
    }

    $(function () {
        getTarefas();
    });

</script>
